<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bala_Loop_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,399},{220,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,104}}</string>
                <key>sourceSize</key>
                <string>{220,104}</string>
            </dict>
            <key>KW_Boton.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,670},{139,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
            <key>KW_Boton_Onpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,830},{139,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
            <key>KW_Canon_Emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{246,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,175}}</string>
                <key>sourceSize</key>
                <string>{246,175}</string>
            </dict>
            <key>KW_PalomaVampiro.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{370,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,117}}</string>
                <key>sourceSize</key>
                <string>{370,117}</string>
            </dict>
            <key>KW_PalomaVampiro_Comiendo.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,121},{370,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,117}}</string>
                <key>sourceSize</key>
                <string>{370,117}</string>
            </dict>
            <key>KW_PalomaVampiro_Gordo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,150}}</string>
                <key>sourceSize</key>
                <string>{370,150}</string>
            </dict>
            <key>KW_Pegajoso.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,240},{329,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,135}}</string>
                <key>sourceSize</key>
                <string>{329,135}</string>
            </dict>
            <key>KW_Vampiro_Volando_Gordo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{370,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,117}}</string>
                <key>sourceSize</key>
                <string>{370,117}</string>
            </dict>
            <key>KW_botonswitchazul.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,377},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>KW_botonswitchrojo.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,417},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>KW_hud_Music.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,470},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>KW_hud_MusicOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,502},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>KW_hud_No-Music.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,507},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>KW_hud_No-MusicOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,399},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>KW_hud_No-Sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,399},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>KW_hud_No-SoundOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,431},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>KW_hud_Sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,431},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>KW_hud_SoundOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,463},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>KW_hud_restart_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,463},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>KW_hud_restart_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,495},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>KW_monedatemp.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,277},{300,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,120}}</string>
                <key>sourceSize</key>
                <string>{300,120}</string>
            </dict>
            <key>KW_roca.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,240},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,510},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,510},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,547},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,547},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,584},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,584},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,470},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tut_1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{180,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,101}}</string>
                <key>sourceSize</key>
                <string>{180,101}</string>
            </dict>
            <key>KW_tut_1-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,675},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>KW_tut_1-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,589},{161,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,79}}</string>
                <key>sourceSize</key>
                <string>{161,79}</string>
            </dict>
            <key>KW_tut_1-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,876},{199,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,98}}</string>
                <key>sourceSize</key>
                <string>{199,98}</string>
            </dict>
            <key>KW_tut_1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{251,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,85}}</string>
                <key>sourceSize</key>
                <string>{251,85}</string>
            </dict>
            <key>KW_tut_1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,589},{169,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,79}}</string>
                <key>sourceSize</key>
                <string>{169,79}</string>
            </dict>
            <key>KW_tut_2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,749},{205,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,79}}</string>
                <key>sourceSize</key>
                <string>{205,79}</string>
            </dict>
            <key>KW_tut_2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{191,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,125}}</string>
                <key>sourceSize</key>
                <string>{191,125}</string>
            </dict>
            <key>KW_tut_3-1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,273},{100,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{100,142}</string>
            </dict>
            <key>Kermix_deslizader_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,505},{210,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,168}}</string>
                <key>sourceSize</key>
                <string>{210,168}</string>
            </dict>
            <key>Kermix_respira_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{252,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,210}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>Kermix_salta_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,377},{252,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,210}}</string>
                <key>sourceSize</key>
                <string>{252,210}</string>
            </dict>
            <key>Moneda_come_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,270}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ftr_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e8e58a06f643e61e02448a6cc8ae24:9f53e2a457e97055f3328ba461d9d71a:30bad1d5ea8466cdb871425ae11466f4$</string>
            <key>textureFileName</key>
            <string>ftr_1.png</string>
        </dict>
    </dict>
</plist>
