<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bala_rompe_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,98},{432,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,335}}</string>
                <key>sourceSize</key>
                <string>{432,335}</string>
            </dict>
            <key>Conejo-puerta_entra_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{420,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,342}}</string>
                <key>sourceSize</key>
                <string>{420,342}</string>
            </dict>
            <key>FTR_html5_GraviTeaArrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,352},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>FTR_html5_GraviTeaArrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,406},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>FTR_html5_IndicadorTutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,94},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>Globo_inflado_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{185,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,313}}</string>
                <key>sourceSize</key>
                <string>{185,313}</string>
            </dict>
            <key>Globo_revienta_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,696},{184,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,312}}</string>
                <key>sourceSize</key>
                <string>{184,312}</string>
            </dict>
            <key>Globo_solo.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>KW_Musica_Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,227},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>KW_Musica_On.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,284},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>KW_Nube.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,460},{59,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,47}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
            <key>KW_NubeOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{472,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,94}}</string>
                <key>sourceSize</key>
                <string>{472,94}</string>
            </dict>
            <key>KW_Pegajoso_Aplastado.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,883},{310,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,132}}</string>
                <key>sourceSize</key>
                <string>{310,132}</string>
            </dict>
            <key>KW_Sonido_Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,341},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>KW_Sonido_On.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,398},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>KW_hud_moneda.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,509},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>KW_hud_moneda_espacio.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,538},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>KW_tierra3azul.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,98},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra3azultrans.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,968},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra3rojo.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,968},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra3rojotrans.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,968},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,968},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,968},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,968},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierra5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,968},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tierratutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,968},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>KW_tut_1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,435},{212,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,62}}</string>
                <key>sourceSize</key>
                <string>{212,62}</string>
            </dict>
            <key>KW_tut_flecha.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,669},{170,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,24}}</string>
                <key>sourceSize</key>
                <string>{170,24}</string>
            </dict>
            <key>KW_tut_flechavert.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,509},{24,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,148}}</string>
                <key>sourceSize</key>
                <string>{24,148}</string>
            </dict>
            <key>KW_tut_mano.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,135},{81,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,90}}</string>
                <key>sourceSize</key>
                <string>{81,90}</string>
            </dict>
            <key>Kermix-puerta_entra_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{497,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,348}}</string>
                <key>sourceSize</key>
                <string>{497,348}</string>
            </dict>
            <key>Kermix_deslizaizq_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,499},{210,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,168}}</string>
                <key>sourceSize</key>
                <string>{210,168}</string>
            </dict>
            <key>Kermix_muere.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,50},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Moneda_quieta_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,696},{324,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,270}}</string>
                <key>sourceSize</key>
                <string>{324,270}</string>
            </dict>
            <key>Villano_deslizader_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,455},{315,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,212}}</string>
                <key>sourceSize</key>
                <string>{315,212}</string>
            </dict>
            <key>Villano_respira_emp.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,669},{315,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,212}}</string>
                <key>sourceSize</key>
                <string>{315,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ftr_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e8e58a06f643e61e02448a6cc8ae24:9f53e2a457e97055f3328ba461d9d71a:30bad1d5ea8466cdb871425ae11466f4$</string>
            <key>textureFileName</key>
            <string>ftr_0.png</string>
        </dict>
    </dict>
</plist>
