<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BotonBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,76},{106,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,37}}</string>
                <key>sourceSize</key>
                <string>{106,37}</string>
            </dict>
            <key>BotonPresionadoBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,76},{106,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,37}}</string>
                <key>sourceSize</key>
                <string>{106,37}</string>
            </dict>
            <key>BotonPresionadoScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,76},{128,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,45}}</string>
                <key>sourceSize</key>
                <string>{128,45}</string>
            </dict>
            <key>BotonScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,76},{128,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,45}}</string>
                <key>sourceSize</key>
                <string>{128,45}</string>
            </dict>
            <key>CerrarPopUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>De_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>De_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>En_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,38},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>En_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,76},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>EnemiesBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,178},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>Es_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>Es_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,76},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>FTR_html5_botontranslations.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,38},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>FTR_html5_botontranslationsover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,38},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>FTR_v16_BotonFB.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,76},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>FTR_v16_BotonFBClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,76},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>FondoAd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{384,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,512}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>FondoPopUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,325},{145,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,326}}</string>
                <key>sourceSize</key>
                <string>{145,326}</string>
            </dict>
            <key>Fr_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>Fr_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,76},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>FreeBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,178},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>It_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>It_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,38},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>Ja_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,38},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>Jp_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>KW_Intro_Negro.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,76},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>KW_Logotipo.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,325},{296,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,171}}</string>
                <key>sourceSize</key>
                <string>{296,171}</string>
            </dict>
            <key>KW_Particula_Options.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>KW_Personajes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,76},{191,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,78}}</string>
                <key>sourceSize</key>
                <string>{191,78}</string>
            </dict>
            <key>KW_intro1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{388,839},{384,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,512}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>KW_intro2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{594,325},{384,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,512}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>KW_intro3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{980,325},{384,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,512}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>KW_intro4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{774,839},{384,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,512}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>KW_statslinea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,4}}</string>
                <key>sourceSize</key>
                <string>{167,4}</string>
            </dict>
            <key>LevelsBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>Nl_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>Nl_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,38},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>PT_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>PT_Br_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,38},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>Pl_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>Pl_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,38},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>Pt_Br_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,38},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>Pt_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,38},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>Ru_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>Ru_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,38},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>Sv_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>Sv_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,38},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>Zh_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>Zh_GooglePla.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,76},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>ui-localization.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{1024,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,128}}</string>
                <key>sourceSize</key>
                <string>{1024,128}</string>
            </dict>
            <key>whitefade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,76},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui.png</string>
            <key>size</key>
            <string>{1420,1420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a23cc7ba76e5253139c4539f2bf6166a:fcacf04815071dbafe6fe6975b538d74:5f86533554b8a62fd9d2a17dd9533d7c$</string>
            <key>textureFileName</key>
            <string>gui.png</string>
        </dict>
    </dict>
</plist>
